body.default-skin {
    background-color: #000;
    color: white;
}
body.neon-skin {
    background-color: #0f0f1a;
    color: #00ffff;
}
body.vinyl-skin {
    background-color: #111;
    color: #f0e68c;
}
